<div class="flex flex-col catalog-page">
  <div class="px-10 py-4 bg-gray-100 shadow-md fixed left-0 top-0 right-0 z-10">
    <div class="container mx-auto flex items-center gap-2 px-2 md:px-0 ">
      <img src="assets/logo.png" class="h-8 w-8" />
      <span class="text-xl font-bold hidden md:inline-block text-nowrap">Course Authoring</span>
      <span class="hidden md:inline-block"><i class="pi pi-chevron-right"></i></span>

      <p-dropdown #navEl [options]="navLinks" [ngModel]="'/catalog'" class="-my-2 course-nav-dropdown"
        (onChange)="router.navigate([$event.value]);"></p-dropdown>

      <span class="flex-grow"></span>

      <app-user-auth-ctrl logoutRedirect="/hub"></app-user-auth-ctrl>
    </div>
  </div>

  <div class="container mx-auto mt-24 mb-16 flex flex-col gap-4 z-0">
    <div *ngIf="selection.length" class="flex flex-col gap-2 bg-gray-100 border shadow-md p-2">
      <p-button type="button"
        [label]="export_status ? export_status : 'Export Selected SLCs ('+selection.length+') to a single JSON file!'"
        icon="fa fa-download" (onClick)="export()" [disabled]="export_status.length > 0" />
    </div>
    <div class="border shadow-md">
      <p-table #tb [value]="contents" [(selection)]="selection" dataKey="id" paginator="true" [rows]="25"
        [rowsPerPageOptions]="[10, 25, 50, 100]"
        [globalFilterFields]="['name', 'author_name', 'type', 'domain_name', 'provider_name', 'creation_date']"
        styleClass="p-datatable-sm p-datatable-striped" (onFilter)="reloadFilterOptions($event)"
        [loading]="_t['loading-catalog']">
        <ng-template pTemplate="caption">
          <div class="flex items-center gap-2">
            <input #searchInputEl type="text" name="name" pInputText placeholder="Search ..."
              class="text-xl border-gray-200 w-full" (input)="tb.filterGlobal(any($event.target).value, 'contains')" />

            <a href="https://docs.google.com/document/d/1URcBdMdkGWGlx7Z5cXrb9T_Oiqkfn1BEV7P3CBLleJo/edit?usp=sharing"
              target="_blank">
              <p-button type="button" label="Documentation" icon="fa fa-book" />
            </a>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="min-width: 4rem;">
              <!-- <p-tableHeaderCheckbox /> -->
            </th>
            <th pSortableColumn="name" style="min-width: 20rem;">
              <span>Display Name </span>
              <p-sortIcon field="name"></p-sortIcon>
            </th>
            <th class="text-center" style="min-width: 10rem;">
              <div class="flex flex-col gap-1">
                <span>Author </span>
                <p-multiSelect [options]="opt_author_names" [showClear]="true"
                  (onChange)="tb.filter($event.value, 'author_name', 'in')"
                  (onClear)="tb.filter('', 'author_name', 'in')" appendTo="body" placeholder="Filter ..."
                  scrollHeight="25rem">
                  <ng-template let-item pTemplate="item">
                    <span [class.text-gray-400]="item.count < 1">{{ item.label }}</span>
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <span class="block p-1 text-gray-600 text-xs bg-gray-100">
                      Note: Count represents the number of matches in the filtered rows.
                    </span>
                  </ng-template>
                </p-multiSelect>
              </div>
            </th>
            <th class="text-center" style="min-width: 10rem;">
              <div class="flex flex-col gap-1">
                <span>Domain </span>
                <p-multiSelect [options]="opt_domain_names" [showClear]="true"
                  (onChange)="tb.filter($event.value, 'domain_name', 'in')"
                  (onClear)="tb.filter('', 'domain_name', 'in')" appendTo="body" placeholder="Filter ..."
                  scrollHeight="25rem">
                  <ng-template let-item pTemplate="item">
                    <span [class.text-gray-400]="item.count < 1">{{ item.label }}</span>
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <span class="block p-1 text-gray-600 text-xs bg-gray-100">
                      Note: Count represents the number of matches in the filtered rows.
                    </span>
                  </ng-template>
                </p-multiSelect>
              </div>
            </th>
            <th class="text-center" style="min-width: 10rem;">
              <div class="flex flex-col gap-1">
                <span>Type </span>
                <p-multiSelect [options]="opt_types" [showClear]="true"
                  (onChange)="tb.filter($event.value, 'type', 'in')" (onClear)="tb.filter('', 'type', 'in')"
                  appendTo="body" placeholder="Filter ..." scrollHeight="25rem">
                  <ng-template let-item pTemplate="item">
                    <span [class.text-gray-400]="item.count < 1">{{ item.label }}</span>
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <span class="block p-1 text-gray-600 text-xs bg-gray-100">
                      Note: Count represents the number of matches in the filtered rows.
                    </span>
                  </ng-template>
                </p-multiSelect>
              </div>
            </th>
            <th class="text-center" style="min-width: 10rem;">
              <div class="flex flex-col gap-1">
                <span>Provider </span>
                <p-multiSelect [options]="opt_provider_names" [showClear]="true"
                  (onChange)="tb.filter($event.value, 'provider_name', 'in')"
                  (onClear)="tb.filter('', 'provider_name', 'in')" appendTo="body" placeholder="Filter ..."
                  scrollHeight="25rem">
                  <ng-template let-item pTemplate="item">
                    <span [class.text-gray-400]="item.count < 1">{{ item.label }}</span>
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <span class="block p-1 text-gray-600 text-xs bg-gray-100">
                      Note: Count represents the number of matches in the filtered rows.
                    </span>
                  </ng-template>
                </p-multiSelect>
              </div>
            </th>
            <th pSortableColumn="creation_date" class="text-center" style="min-width: 12rem;">
              <span>Creation Date</span>
              <p-sortIcon field="creation_date"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-content>
          <tr>
            <td style="min-width: 4rem;"><p-tableCheckbox [value]="content" /></td>
            <td style="min-width: 20rem;">
              <span class="text-blue-700 flex-grow cursor-pointer" (click)="selectContent(content)">
                {{ content.name }}
              </span>
            </td>
            <td class="text-sm text-center" style="min-width: 10rem;">{{ content.author_name }}</td>
            <td class="text-sm text-center" style="min-width: 10rem;">{{ content.domain_name }}</td>
            <td class="text-sm text-center" style="min-width: 10rem;">{{ content.type }}</td>
            <td class="text-sm text-center" style="min-width: 10rem;">{{ content.provider_name }}</td>
            <td class="text-sm text-center" style="min-width: 12rem;">{{ content.creation_date | date:'medium' }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>

<p-sidebar [(visible)]="preview" position="right" [style]="{'min-width': '64rem'}" (onHide)="unselectContent()">
  <ng-template pTemplate="header">
    <h1>{{ selected.name }}</h1>
  </ng-template>

  <p-button type="button" label="Report" icon="fa fa-flag" class="absolute top-0 right-6 z-10" severity="secondary"
    outlined="true" (click)="report(selected)" />

  <p-tabView *ngIf="selected" class="inline-block w-full h-full">
    <p-tabPanel header="General">
      <table class="w-full general-info-table">
        <tr>
          <td class="font-bold">ID:</td>
          <td>{{ selected.id }}</td>
        </tr>
        <tr>
          <td class="font-bold">Name:</td>
          <td>{{ selected.name }}</td>
        </tr>
        <tr>
          <td class="font-bold">Domain:</td>
          <td>{{ selected.domain_name }}</td>
        </tr>
        <tr>
          <td class="font-bold">Type:</td>
          <td>{{ selected.type }}</td>
        </tr>
        <tr>
          <td class="font-bold">Provider:</td>
          <td>{{ selected.provider_name }}</td>
        </tr>
        <tr>
          <td class="font-bold">Description:</td>
          <td>{{ selected.description || '&lt;&lt;empty&gt;&gt;' }}</td>
        </tr>
        <tr>
          <td class="font-bold">Author:</td>
          <td>{{ selected.author_name }}</td>
        </tr>
        <tr>
          <td class="font-bold">Date:</td>
          <td>{{ selected.creation_date | date:"medium" }}</td>
        </tr>
        <tr>
          <td class="font-bold">Problem Statement:</td>
          <td>
            <div class="overflow-x-auto" style="width: 45rem;">
              {{ selected.problem_statement || '&lt;&lt;empty&gt;&gt;' }}
            </div>
          </td>
        </tr>
        <tr>
          <td class="font-bold">Source Code:</td>
          <td>
            <ng-container *ngIf="!selected.code">
              {{ '&lt;&lt;empty&gt;&gt;' }}
            </ng-container>
            <div class="overflow-x-auto" style="width: 45rem;">
              <pre *ngIf="selected.code" class="m-0 ml-2"><code 
              [highlight]="selected.code" 
              [language]="selected.domain_id == 'asm' ? 'x86asm' : selected.domain_id" 
              lineNumbers style="padding: 0;"></code></pre>
            </div>
          </td>
        </tr>
      </table>
    </p-tabPanel>
    <p-tabPanel header="Concepts">
      <div class="flex flex-col gap-2 h-full">
        <div class="font-bold">Assigned Concepts:</div>
        <p-table *ngIf="selected_um2concepts?.length" [value]="selected_um2concepts"
          styleClass="p-datatable-sm p-datatable-striped w-full ml-2">
          <ng-template pTemplate="header">
            <tr>
              <th colspan="2">Activity</th>
              <th colspan="4">Concept</th>
            </tr>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Title</th>
              <th>Description</th>
              <th>Weight</th>
              <th>Direction</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-concept>
            <tr>
              <td>{{ concept.ActivityName }}</td>
              <td>{{ concept.ActivityDescription }}</td>
              <td>{{ concept.ConceptTitle }}</td>
              <td>{{ concept.ConceptDescription }}</td>
              <td>{{ concept.ConceptWeight }}</td>
              <td>{{ concept.ConceptDirection }}</td>
            </tr>
          </ng-template>
        </p-table>

        <hr *ngIf="selected_um2concepts?.length || selected_aggconcept_sources.size" class="w-full" />

        <div *ngFor="let source of selected_aggconcept_sources" class="ml-2">
          <span class="font-bold capitalize">{{ source }}:</span>
          <span class="italic"> {{ getAggregateConcepts(source) || 'None' }}</span>
        </div>

        <div *ngIf="!selected_um2concepts?.length && !selected_aggconcept_sources.size" class="italic ml-2">
          &lt;&lt;empty&gt;&gt;
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Courses">
      <div class="flex flex-col gap-2 h-full">
        <div class="font-bold">Used in {{ selected_courses.length }} Courses:</div>
        <p-table *ngIf="selected_courses.length" [value]="selected_courses" dataKey="id"
          styleClass="p-datatable-sm p-datatable-striped w-full ml-2">
          <ng-template pTemplate="header">
            <tr>
              <th class="text-center">ID</th>
              <th class="">
                <span>Course Name</span>
                <br />
                <span class="text-xs">Creation Date | Author</span>
              </th>
              <th class="">Unit</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-course>
            <tr>
              <td class="text-sm text-center">{{ course.id }}</td>
              <td>
                <span class="text-sm">{{ course.code }} - {{ course.name }}</span>
                <br />
                <span class="text-xs">{{ course.creation_date | date:'medium' }} | {{ course.author_name }}</span>
              </td>
              <td class="text-sm">{{ course.unit_name }}</td>
            </tr>
          </ng-template>
        </p-table>
        <div *ngIf="!selected_courses.length" class="italic ml-2">
          &lt;&lt;empty&gt;&gt;
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Preview">
      <div class="flex flex-col gap-2 h-full">
        <a [href]="selected.preview_url" target="_blank">
          <span>Open in New Tab </span>
          <i class="pi pi-external-link text-xs"></i>
        </a>
        <span class="text-sm text-gray-600">
          Note: if preview is not working, try opening it in a new tab.
        </span>
        <iframe [src]="selected.preview_iframe_url" class="flex-grow"></iframe>
      </div>
    </p-tabPanel>
  </p-tabView>
</p-sidebar>