<div *ngIf="course" class="flex flex-col">
  <div class="px-10 py-4 bg-gray-100 shadow-md fixed left-0 top-0 right-0 z-10">
    <div class="container mx-auto flex items-center gap-2 px-2 md:px-0">
      <img src="assets/logo.png" class="h-8 w-8" />
      <span class="text-xl font-bold hidden md:inline-block text-nowrap">Course Authoring</span>
      <span class="hidden md:inline-block"><i class="fa fa-chevron-right"></i></span>

      <p-dropdown #navEl [options]="navLinks" [ngModel]="'/courses'" class="-my-2 course-nav-dropdown"
        (onChange)="router.navigate([$event.value]);"></p-dropdown>

      <span class="flex-grow"></span>

      <app-user-auth-ctrl />
    </div>
  </div>

  <div class="container mx-auto mt-24 mb-16 border shadow-md z-0 relative">
    <form #form="ngForm" (submit)="save()" class="flex flex-col gap-2">
      <div class="lg:absolute lg:right-0 lg:top-0 flex items-end justify-end gap-2 z-10">
        <p-button type="button" [label]="course.deleted_at ? 'Deleted' : 'Delete'" icon="fa fa-trash" size="small"
          [severity]="course.deleted_at ? 'danger' : 'warning'" (click)="deleteCourse()">
        </p-button>

        <div class="relative overflow-visible">
          <div *ngIf="course.linkings?.mastery_grid?.last_synced"
            class="absolute -top-4 -mt-0.5 text-xs text-gray-400 min-w-max">
            Last synchronized: {{ course.linkings?.mastery_grid?.last_synced | date:'short' }}
          </div>
          <p-buttonGroup>
            <p-button type="button" label="Sync to Mastery Grid" icon="fa fa-refresh" size="small" severity="success"
              (click)="syncToMasteryGrid()" [disabled]="form.invalid">
            </p-button>
            <p-button type="button" icon="fa fa-external-link" size="small" severity="success" class="ml-0.5"
              (click)="openInMasteryGrid()" [disabled]="!course.linkings?.mastery_grid?.id"></p-button>
          </p-buttonGroup>
        </div>

        <span class="border border-solid border-gray-100 h-8"></span>

        <p-button type="button" label="Cancel" icon="fa fa-chevron-left" size="small" severity="secondary"
          (click)="router.navigate(['/courses'])">
        </p-button>
        <p-button type="submit" label="Save" icon="fa fa-save" size="small" [disabled]="form.invalid"></p-button>
      </div>
      <p-tabView [(activeIndex)]="activeTabIndex" (activeIndexChange)="forceUiRefresh('textarea-ref-tt')">
        <p-tabPanel header="General Information">
          <div class="flex flex-col gap-2 p-2">
            <div class="flex items-center gap-2">
              <div class="flex flex-col gap-1">
                <span class="text-sm text-gray-600">Code:</span>
                <input type="text" pInputText name="code" [(ngModel)]="course.code" placeholder="INFSCI ..."
                  required="true" />
              </div>
              <div class="flex-grow flex flex-col gap-1">
                <span class="text-sm text-gray-600">Name:</span>
                <input type="text" pInputText name="name" [(ngModel)]="course.name" placeholder="Introduction to ..."
                  required="true" />
              </div>
            </div>
            <div class="flex items-center gap-2">
              <div class="flex-grow flex flex-col gap-1">
                <span class="text-sm text-gray-600">Institution:</span>
                <input type="text" pInputText name="institution" [(ngModel)]="course.institution"
                  placeholder="University of ..." />
              </div>
              <div class="flex flex-col gap-1">
                <span class="text-sm text-gray-600">Domain:</span>
                <p-dropdown [options]="domains" name="domain" [(ngModel)]="course.domain" optionValue="id"
                  optionLabel="name" placeholder="Select" required="true" (onChange)="loadProviders()" />
              </div>
              <div class="flex flex-col gap-1">
                <span class="text-sm text-gray-600">Published:</span>
                <p-dropdown [options]="[{label:'Yes',value: true}, {label:'No',value:false}]" name="published"
                  [(ngModel)]="course.published" placeholder="Select" required="true" />
              </div>
            </div>
            <div class="flex flex-col gap-1">
              <span class="text-sm text-gray-600">Description:</span>
              <textarea rows="5" pInputTextarea name="description" [(ngModel)]="course.description"
                placeholder="This course is ..." [autoResize]="true"></textarea>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Units and Resources">
          <div class="overflow-x-auto">
            <p-table [value]="course.units" [columns]="course.resources" styleClass="p-datatable-sm units-table">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th [rowSpan]="2" class="add-unit-col bg-gray-100">
                    <div class="flex flex-col items-center justify-center gap-2 p-1">
                      <span class="flex-grow">{{ numOfLvl0Units() }} Units</span>
                      <div class="flex items-center gap-1">
                        <p-button type="button" [label]="allExpanded ? 'collapse' : 'expand'"
                          [icon]="allExpanded ? 'fa fa-chevron-up' : 'fa fa-chevron-down'" severity="secondary"
                          [text]="true" [raised]="true" class="p-button-xs" (click)="expandTextarea(allExpanded)">
                        </p-button>
                        <p-button type="button" label="rearrange" icon="fa fa-list-ol" severity="secondary"
                          [text]="true" [raised]="true" class="p-button-xs" (click)="arrangingItems = 'units'">
                        </p-button>
                        <p-button type="button" label="new unit" icon="fa fa-plus" severity="secondary" [text]="true"
                          [raised]="true" class="p-button-xs"
                          (click)="course.units.push({ id: nextResourceId(), level: 0 })">
                        </p-button>
                      </div>
                    </div>
                  </th>
                  <th [colSpan]="course.resources.length" class="add-resource-col bg-gray-100">
                    <div class="flex items-center justify-center gap-2 py-1 relative">
                      <span>{{ course.resources?.length || 0 }} Resources</span>

                      <div class="absolute right-0 flex items-center gap-1">
                        <p-button type="button" [label]="course.resources?.length > 1 ? 'rearrange' : ''"
                          icon="fa fa-list-ol" title="rearrange" severity="secondary" [text]="true" [raised]="true"
                          class="p-button-xs" (click)="arrangingItems = 'resources'">
                        </p-button>
                        <p-button type="button" [label]="course.resources?.length > 1 ? 'new resource' : ''"
                          icon="fa fa-plus" title="new resource" severity="secondary" [text]="true" [raised]="true"
                          class="p-button-xs" (click)="course.resources.push({ id: nextResourceId() })">
                        </p-button>
                      </div>
                    </div>
                  </th>
                  <th></th>
                </tr>
                <tr *ngIf="course.resources?.length">
                  <th *ngFor="let resource of course.resources; let rindex = index;" class="resource-col bg-gray-100">
                    <div class="flex flex-col gap-0.5">
                      <div class="flex items-center">
                        <p-button type="button" [label]="(resource.providers?.length || 0) + ' providers'"
                          icon="fa fa-edit" severity="secondary" [text]="true" class="p-button-xs"
                          (click)="editingResource = resource; editingProviders = resource.providers || [];">
                        </p-button>

                        <span class="flex-grow"></span>

                        <p-button type="button" icon="fa fa-trash" severity="secondary" [text]="true"
                          class="p-button-xs" (click)="removeResource(resource)">
                        </p-button>
                      </div>

                      <textarea *ngIf="!tt['textarea-ref-tt']" rows="1" pInputTextarea [name]="'resource'+resource.id"
                        [(ngModel)]="resource.name" placeholder="Resource ..." required="true" [autoResize]="true"
                        class="text-xs font-bold p-1"></textarea>
                    </div>
                  </th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-unit let-uindex="rowIndex">
                <tr [ngClass]="{'opacity-50': !unit.published}">
                  <td class="align-top unit-description-col bg-gray-100">
                    <div class="flex items-stretch gap-0.5" [ngStyle]="{'padding-left': (unit.level||0)+'rem'}">
                      <div class="flex flex-col items-center gap-1 p-0.5 rounded border border-solid border-gray-300">
                        <p-button type="button" [icon]="unit.published ? 'fa fa-eye' : 'fa fa-eye-slash'"
                          severity="secondary" [text]="true" title="Enable/Disable" class="p-button-xs"
                          (click)="toggleUnitPublished(unit)">
                        </p-button>

                        <p-button type="button" icon="fa fa-trash" severity="secondary" [text]="true"
                          title="Remove Unit" class="p-button-xs" (click)="removeUnit(unit)">
                        </p-button>

                        <span class="flex-grow"></span>

                        <p-button type="button" [icon]="'fa ' + (unit._ui_expand ? 'fa-chevron-up' : 'fa-chevron-down')"
                          severity="secondary" [text]="true" title="Expand/Collapse Description" class="p-button-xs"
                          (click)="unit._ui_expand = !unit._ui_expand; forceUiRefresh('unitdesc-ref-tt:' + unit.id);">
                        </p-button>
                      </div>
                      <div class="flex-grow flex flex-col gap-0.5">
                        <textarea *ngIf="!tt['textarea-ref-tt']" rows="1" pInputTextarea [name]="'unit-name'+unit.id"
                          [(ngModel)]="unit.name" placeholder="Name" required="true" [autoResize]="true"
                          class="text-xs font-bold p-1"></textarea>
                        <textarea *ngIf="!tt['textarea-ref-tt'] && !tt['unitdesc-ref-tt:' + unit.id]" rows="2"
                          pInputTextarea [name]="'unit-description'+unit.id" [(ngModel)]="unit.description"
                          placeholder="Description" [autoResize]="unit._ui_expand"
                          class="text-xs p-1 flex-grow"></textarea>
                      </div>
                    </div>
                  </td>
                  <ng-container *ngFor="let resource of course.resources; let rindex = index;">
                    <td *ngIf="resource.providers?.length" class="relative align-top resource-col">
                      <div class="flex flex-col justify-start">
                        <p-button type="button" [label]="unit.activities?.[resource.id]?.length
                                                    ? (unit.activities?.[resource.id]?.length || 0) + ' activities'
                                                    : 'click here to add activities for this unit.'" icon="fa fa-edit"
                          severity="secondary" [text]="true" class="p-button-xs"
                          (click)="editUnitActivities(unit, resource)">
                        </p-button>
                        <div cdkDropList *ngIf="unit.activities?.[resource.id]?.length > 0"
                          class="flex flex-col items-start text-xs ml-2"
                          (cdkDropListDropped)="rearrange($event, unit.activities[resource.id])">
                          <a *ngFor="let activity of unit.activities[resource.id]; let aindex = index;" cdkDrag
                            [href]="getPreviewLink(app.user, activity.url)" target="_blank"
                            class="no-underline min-w-max overflow-hidden flex items-center gap-1">
                            <i class="fa fa-bars text-gray-500 cursor-move"></i>
                            <span class="ml-1 text-wrap inline-block w-56" style="color: blue;">
                              {{ activity.name }}
                            </span>
                          </a>
                        </div>
                      </div>
                    </td>
                    <td *ngIf="!resource.providers?.length && uindex == 0" [rowSpan]="course.units.length"
                      class="relative align-top resource-col">
                      <div class="flex flex-col justify-start">
                        <p-button type="button"
                          label="click on the 'providers' button above to enable providers for this resource."
                          severity="secondary" [text]="true" class="p-button-xs">
                        </p-button>
                      </div>
                    </td>
                  </ng-container>
                  <td *ngIf="!course.resources?.length && uindex == 0" [rowSpan]="course.units.length"
                    class="relative align-top resource-col">
                    <div class="flex flex-col justify-start">
                      <p-button type="button" label="use the plus '+' button above to add a resource"
                        severity="secondary" [text]="true" class="p-button-xs">
                      </p-button>
                    </div>
                  </td>
                  <td></td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td [colSpan]="max(2, course.resources.length + 1)">
                    <div class="p-4 text-center text-gray-400 text-sm">
                      use the 'new unit' button to add units.
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabPanel>
        <!-- <p-tabPanel header="Students">
          <div class="flex flex-col gap-2">
            <span>Enter students' email addresses (one per line) using this format (full name is optional).</span>
            <pre
              class="my-0 ml-2 bg-gray-200 p-2 rounded-md text-sm">email-address[:full name]<br/>email-address[:full name]<br/>...</pre>
            <textarea *ngIf="!tt['textarea-ref-tt']" rows="10" pInputTextarea name="student_emails"
              [(ngModel)]="course.student_emails" [placeholder]="'std1-email-address,std2-email-address,...'"
              [autoResize]="true"></textarea>
          </div>
        </p-tabPanel> -->
      </p-tabView>
    </form>
  </div>
</div>

<p-toast />
<p-confirmDialog />

<app-enable-providers *ngIf="editingProviders" [providers]="editingProviders" [list]="providersList"
  (close)="editingProviders = null" (complete)="editingResource.providers = $event; editingProviders = null;" />

<app-rearrange-resources *ngIf="arrangingItems == 'resources'" [resources]="course.resources"
  (close)="arrangingItems = ''" (complete)="applyResourcesArrangement($event); arrangingItems = '';" />

<app-rearrange-units *ngIf="arrangingItems == 'units'" [units]="course.units" (close)="arrangingItems = ''"
  (complete)="applyUnitsArrangement($event); arrangingItems = '';" />

<app-edit-unit-activities *ngIf="editingActivities" [activities]="editingActivities" [list]="activitiesList"
  [providersMap]="providersMap" (close)="editingActivities = null" (complete)="editingUnit.activities[editingResource.id] = $event;
    editingUnit = null; editingResource = null; editingActivities = null;" />
