::ng-deep .units-table {
    input[type=text] {
        padding: 0.25rem;
    }

    textarea {
        font-size: 0.75rem;
        padding: 0.25rem;
    }

    .p-button-label {
        text-align: left;
    }
}

::ng-deep .units-table.p-datatable-sm {

    th,
    td {
        padding: 0.125rem;
    }
}

.add-unit-col,
.unit-description-col,
.resource-col {
    width: 15rem;
    min-width: 15rem;
    max-width: 15rem;
}

th {
    @apply bg-gray-100;
}

td.unit-description-col,
th.add-unit-col {
    @apply bg-gray-200;
}