<p-dialog header="Edit Unit Activities" [visible]="activities" [modal]="true" [closable]="false"
  [style]="{ 'max-width': '768px' }">
  <div class="flex flex-col gap-2">
    <div>Check the activities you want to include in this unit.</div>
    <p-table #dt2 [value]="filteredActivitiesList" [(selection)]="activities"
      [globalFilterFields]="['name', 'provider_id', 'author_id', 'tags']" [scrollable]="true" scrollHeight="20rem"
      [rowHover]="true" styleClass="p-datatable-sm p-datatable-striped p-datatable-gridlines">
      <ng-template pTemplate="caption">
        <div class="flex items-center">
          <p-checkbox [binary]="true" [(ngModel)]="selectedOnly" label="Selected only"></p-checkbox>
          <span class="flex-grow"></span>
          <p-iconField iconPosition="left">
            <input pInputText type="text" (input)="dt2.filterGlobal(any($event.target).value, 'contains')"
              placeholder="Filter ..." />
            <p-inputIcon><i class="fa fa-search"></i></p-inputIcon>
          </p-iconField>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>
            <div class="flex items-center gap-2">
              <span>Name</span>
              <span class="flex-grow"></span>
              <span>Author</span>
            </div>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-activity>
        <tr>
          <td>
            <div class="flex items-center gap-2">
              <p-tableCheckbox [value]="activity" />
              <div class="flex flex-col flex-grow">
                <span class="text-xs text-gray-400">
                  {{ providersMap[activity.provider_id].name }}
                </span>
                <div class="flex items-center gap-2">
                  <span>{{ activity.name }}</span>
                  <div class="text-sm text-gray-400">
                    [<a [href]="getPreviewLink(app.user, activity.url)" target="_blank"
                      class="no-underline text-gray-400">preview</a>]
                  </div>
                  <span class="flex-grow"></span>
                  <span class="text-sm">{{ activity.author_id }}</span>
                </div>
                <span *ngIf="activity.tags" class="text-xs">
                  tags: <span class="italic">{{ activity.tags }}</span>
                </span>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td>
            <div class="text-xs text-center text-gray-400 w-full">
              no record matched, revise your filter keyword
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <div class="flex items-center gap-2">
      <span>{{ activities.length || 0 }} activities selected.</span>
      <span class="flex-grow"></span>
      <p-button type="button" label="Cancel" icon="fa fa-chevron-left" severity="secondary" (click)="close.emit()">
      </p-button>
      <p-button type="button" label="Save" icon="fa fa-save" (click)="complete.emit(activities)">
      </p-button>
    </div>
  </div>
</p-dialog>
