<div class="flex flex-col">
  <div class="px-10 py-4 bg-gray-100 shadow-md fixed left-0 top-0 right-0 z-10">
    <div class="container mx-auto flex items-center gap-2 px-2 md:px-0">
      <img src="assets/logo.png" class="h-8 w-8" />
      <span class="text-xl font-bold hidden md:inline-block text-nowrap">Course Authoring</span>
      <span class="hidden md:inline-block"><i class="pi pi-chevron-right"></i></span>

      <p-dropdown #navEl [options]="navLinks" [ngModel]="'/hub'" class="-my-2 course-nav-dropdown"
        (onChange)="router.navigate([$event.value]);"></p-dropdown>

      <span class="flex-grow"></span>

      <app-user-auth-ctrl logoutRedirect="/hub"></app-user-auth-ctrl>
    </div>
  </div>

  <div class="container mx-auto mt-24 mb-16 flex flex-col gap-4 max-w-4xl z-0">
    <div class="bg-gray-100 shadow-md">
      <input #searchInputEl type="text" name="name" pInputText placeholder="Search ..."
        class="text-xl border-gray-200 w-full" (keyup)="search(searchInputEl.value)" />
    </div>

    <div class="border shadow-md">
      <p-table #table [value]="courses">
        <ng-template pTemplate="body" let-activity let-rowIndex="rowIndex">
          <tr>
            <td>
              ...
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="2">
              <div class="text-xs text-center text-gray-400 w-full">
                no courses matched, revise your search keyword
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>