<div class="flex flex-col">
  <div class="px-10 py-4 bg-gray-100 shadow-md fixed left-0 top-0 right-0 z-10">
    <div
      class="container mx-auto flex items-center gap-2 px-2 md:px-0 max-w-7xl"
    >
      <img src="assets/logo.png" class="h-8 w-8" />
      <span class="text-xl font-bold hidden md:inline-block text-nowrap"
        >Course Authoring</span
      >
      <span class="hidden md:inline-block"
        ><i class="pi pi-chevron-right"></i
      ></span>

      <p-dropdown
        #navEl
        [options]="navLinks"
        [ngModel]="'/hub'"
        class="-my-2 course-nav-dropdown"
        (onChange)="router.navigate([$event.value])"
      ></p-dropdown>

      <span class="flex-grow"></span>

      <app-user-auth-ctrl logoutRedirect="/hub"></app-user-auth-ctrl>
    </div>
  </div>

  <div class="container mx-auto mt-24 mb-16 flex flex-col gap-4 max-w-7xl z-0">
    <h1 class="my-0">
      <span class="text-3xl font-bold">Course Catalog</span>
      <span class="text-gray-500 text-sm ml-2">
        ({{ courses.length || 0 }} Courses)
      </span>
    </h1>

    <p class="text-gray-400 text-xs -mt-2">
      Use the search box below to filter courses by code, name, description,
      domain, institution, author, or creation date. <br />
      Click on a course name to view more details.
    </p>

    <div class="flex items-start gap-6">
      <!-- sidebar -->
      <div
        class="w-1/3 bg-slate-100 border border-slate-200 rounded-lg p-3 shadow-sm flex flex-col items-start gap-3"
      >
        <div class="w-full flex items-center gap-2 justify-end">
          <span *ngIf="table.filteredValue" class="grow">
            {{ table.filteredValue.length }} matched.
          </span>
          <a
            *ngIf="selectedKVs['count'] > 0"
            class="flex items-center gap-1 text-red-700 cursor-pointer border border-solid border-red-400 px-2 py-1 rounded hover:bg-red-100 active:bg-red-200"
            (click)="clearQuickFilters(table)"
          >
            <span class="">Clear Filters</span>
            <i class="pi pi-times"></i>
          </a>
        </div>

        <div class="text-gray-500 text-xs uppercase">
          Quick Filters (click to toggle)
        </div>

        <div class="w-full flex flex-wrap gap-1 pl-2">
          <div class="flex items-center gap-2 w-full -ml-2">
            <span class="text-sm font-bold text-gray-600">Domains:</span>
            <hr class="grow" />
          </div>
          <a
            *ngFor="let facet of domainKVs"
            class="text-xs cursor-pointer hover:underline"
            [class.font-bold]="selectedKVs['domain']?.label == facet.label"
            [class.text-blue-700]="selectedKVs['domain']?.label == facet.label"
            [class.underline]="selectedKVs['domain']?.label == facet.label"
            (click)="toggleQuickFilter(table, 'domain', facet, 'equals')"
          >
            {{ facet.label }} ({{ facet.value }}),
          </a>
          <span class="text-sm text-gray-400" *ngIf="!domainKVs.length">
            No domains yet.
          </span>
        </div>

        <div class="w-full flex flex-wrap gap-1 pl-2">
          <div class="flex items-center gap-2 w-full -ml-2">
            <span class="text-sm font-bold text-gray-600">Institutions:</span>
            <hr class="grow" />
          </div>
          <a
            *ngFor="let facet of institutionKVs"
            class="text-xs cursor-pointer hover:underline"
            [class.font-bold]="selectedKVs['institution']?.label == facet.label"
            [class.text-blue-700]="
              selectedKVs['institution']?.label == facet.label
            "
            [class.underline]="selectedKVs['institution']?.label == facet.label"
            (click)="toggleQuickFilter(table, 'institution', facet, 'equals')"
          >
            {{ facet.label }} ({{ facet.value }}),
          </a>
          <span class="text-sm text-gray-400" *ngIf="!institutionKVs.length">
            No institutions yet.
          </span>
        </div>

        <div class="w-full flex flex-wrap gap-1 pl-2">
          <div class="flex items-center gap-2 w-full -ml-2">
            <span class="text-sm font-bold text-gray-600">Authors:</span>
            <hr class="grow" />
          </div>
          <a
            *ngFor="let facet of authorKVs"
            class="text-xs cursor-pointer hover:underline"
            [class.font-bold]="
              selectedKVs['author.fullname']?.label == facet.label
            "
            [class.text-blue-700]="
              selectedKVs['author.fullname']?.label == facet.label
            "
            [class.underline]="
              selectedKVs['author.fullname']?.label == facet.label
            "
            (click)="
              toggleQuickFilter(table, 'author.fullname', facet, 'contains')
            "
          >
            {{ facet.label }} ({{ facet.value }}),
          </a>
          <span class="text-sm text-gray-400" *ngIf="!authorKVs.length">
            No authors yet.
          </span>
        </div>
      </div>

      <!-- search & table -->
      <div class="w-2/3 flex flex-col gap-4">
        <div class="bg-gray-100 shadow-md">
          <input
            #searchInputEl
            type="text"
            name="name"
            pInputText
            placeholder="Search ..."
            class="text-xl border-gray-200 w-full"
            (keyup)="filter(table, $event)"
          />
        </div>

        <div class="border shadow-md">
          <p-table
            #table
            [value]="courses"
            [globalFilterFields]="[
              'id',
              'user_email',
              'code',
              'name',
              'description',
              'domain',
              'institution',
              'author.fullname',
              'author.email',
              'units_ct',
              'resources_ct',
              'created_at',
            ]"
            (onFilter)="reloadFilterKVs(table.filteredValue || courses)"
          >
            <ng-template pTemplate="body" let-course>
              <tr>
                <td class="relative">
                  <div class="flex flex-col gap-1">
                    <div class="text-xs text-gray-400">
                      <span class="uppercase">{{ course.institution }}</span>
                      <span> | </span>
                      <span>{{ course.author.fullname }}</span>
                    </div>
                    <span class="text-xs text-gray-400">
                      {{ course.created_at | date: "medium" }}
                    </span>
                    <div class="flex items-center gap-4">
                      <span
                        class="text-blue-600 cursor-pointer flex gap-1"
                        (click)="toggleLoad(course)"
                      >
                        <span class="capitalize font-bold">{{
                          course.name
                        }}</span>
                        <span class="uppercase">"{{ course.code }}"</span>
                        <i
                          class="pi pi-chevron-down text-gray-400"
                          [ngClass]="{
                            'pi-chevron-up':
                              selected && selected.id == course.id,
                          }"
                        ></i>
                      </span>

                      <span
                        *ngIf="app.user"
                        class="cursor-pointer"
                        (click)="clone(course)"
                      >
                        <i
                          class="pi pi-clone text-gray-400 hover:text-gray-900"
                        ></i>
                      </span>

                      <span class="cursor-pointer" (click)="export(course)">
                        <i
                          class="pi pi-download text-gray-400 hover:text-gray-900"
                        ></i>
                      </span>
                    </div>
                    <div class="text-xs">
                      <span class="uppercase">{{ course.domain }}</span>
                      <span>, </span>
                      <span>{{ course.units_ct }} units</span>
                    </div>
                    <span
                      *ngIf="course.description"
                      class="text-xs text-gray-400"
                    >
                      {{ course.description }}
                    </span>

                    <ng-container *ngIf="selected && selected.id == course.id">
                      <span class="pl-2 text-sm font-bold">Units:</span>
                      <div class="max-h-64 overflow-y-auto pl-2">
                        <div *ngFor="let unit of selected.units" class="pl-2">
                          <span class="text-sm font-bold capitalize">{{
                            unit.name
                          }}</span>
                          <div
                            *ngFor="let r of keys(unit.activities)"
                            class="flex gap-2"
                          >
                            <span class="text-xs w-48 pl-4 capitalize"
                              >{{ selected.resources[r].name }} →</span
                            >
                            <ul class="m-0">
                              <li *ngFor="let a of unit.activities[r]">
                                <a
                                  href="{{ a.url }}"
                                  class="text-xs"
                                  target="_blank"
                                  >{{ a.name }}</a
                                >
                              </li>
                            </ul>
                          </div>
                          <div *ngIf="keys(unit.activities).length < 1">
                            <span class="text-xs text-gray-400"
                              >no activities!</span
                            >
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="2">
                  <div class="text-xs text-center text-gray-400 w-full">
                    no courses matched, revise your search keyword
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>

<p-confirmDialog />
